:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --hero-button-hover: #188ce8;
  --social-link-color: #afb1b8;
  --container-border-color: #eeeeee;

  --card-set-gap: 30px;

  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;

  margin: -1px;
}

/* -------------------------------- Header -------------------------------- */

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: inline-block;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--accent-color);
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.page-header__logo--black {
  color: var(--title-text-color);
}

/* -------------------------------- Site nav -------------------------------- */

.site-nav {
  display: flex;
}

.site-nav__item {
  position: relative;
}

.current-link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--title-text-color);

  transition: color 250ms var(--transition-cubic);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link.current-link {
  color: var(--accent-color);
}

/* -------------------------------- Contacts nav -------------------------------- */

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);

  transition: color 250ms var(--transition-cubic);
}

.contacts-nav__link:hover,
.contacts-nav__link:focus {
  color: var(--accent-color);
}

.contacts-nav__icon {
  margin-right: 10px;

  fill: currentColor;
}

/* -------------------------------- Hero -------------------------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--footer-bg-color);
}

.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.hero__button {
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--transition-cubic);
}

.hero__button:hover {
  background-color: var(--hero-button-hover);
}

/* -------------------------------- Section -------------------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);
}

.section--nopadding {
  padding-top: 0;
  padding-bottom: 94px;
}

/* -------------------------------- Features -------------------------------- */

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(-1 * var(--card-set-gap));
}

.features__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.features__item--bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: var(--card-set-gap);
  border-radius: 4px;

  background-color: var(--secondary-bg-color);
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__label {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* -------------------------------- Skills -------------------------------- */

.skills__title {
  margin-bottom: 50px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * var(--card-set-gap));
}

.skills__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.skills__container {
  position: relative;
}

.skills__label {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* -------------------------------- Team -------------------------------- */

.team {
  background-color: var(--secondary-bg-color);
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * var(--card-set-gap));
}

.team__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.crewman-card {
  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-bg-color);
}

.crewman-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--title-text-color);
}

.crewman-card__position {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item--indent {
  margin-left: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: transparent;

  color: var(--social-link-color);

  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic);
}

.socials__link:hover,
.socials__link:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
}

/* -------------------------------- Clients -------------------------------- */

.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item + .clients__item {
  margin-left: var(--card-set-gap);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 170px;
  height: 92px;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;

  color: var(--social-link-color);

  transition: color 250ms var(--transition-cubic),
    border-color 250ms var(--transition-cubic);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* -------------------------------- Footer -------------------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo--white {
  color: var(--secondary-text-color);
}

.contacts__item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.contacts__link {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--transition-cubic);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link--white {
  color: var(--secondary-text-color);
}

.socials-contacts {
  margin-left: 70px;
}

.socials-contacts__label {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.socials__list--wrap {
  display: flex;
  flex-wrap: wrap;
}

.socials__link--grey {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--transition-cubic);
}

.footer-subscription {
  margin-left: auto;
}

.footer-subscription__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.subscribe-form {
  display: flex;
  flex-direction: row;
}

.subscribe-form__input {
  display: flex;
  align-items: center;

  padding: 15px 15px 16px;

  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;

  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--transition-cubic);
  cursor: pointer;
}

.subscribe-form__button:hover,
.subscribe-form__button:focus {
  background-color: var(--hero-button-hover);
}

/* -------------------------------- Buttons -------------------------------- */

.button {
  display: inline-block;

  border: none;
  border-radius: 4px;

  font-family: inherit;
  align-items: center;
  text-align: center;

  cursor: pointer;
}

.button__icon {
  fill: currentColor;
  margin-left: 10px;
}

.button--current {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* -------------------------------- Portfolio -------------------------------- */

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 50px;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);

  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic),
    box-shadow 250ms var(--transition-cubic);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-examples {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.work-examples__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));

  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.work-examples__link {
  display: block;

  text-decoration: none;

  transition: box-shadow 250ms var(--transition-cubic);
}

.work-examples__link:hover,
.work-examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-examples__card {
  position: relative;

  overflow: hidden;
}

.work-examples__overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  padding: 63px 24px;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms var(--transition-cubic);
}

.work-examples__link:hover .work-examples__overlay {
  transform: translateY(0);
}

.work-examples__link:focus .work-examples__overlay {
  transform: translateY(0);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;

  color: var(--secondary-text-color);
}

.work-examples-card-container {
  padding: 20px 24px;

  box-sizing: border-box;
  border: 1px solid var(--container-border-color);
  border-top: 0;
}

.work-examples-card-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.work-examples-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-text-color);
}

/* -------------------------------- Modal windows -------------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(-270deg) scale(0.1) skew(40deg);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  min-width: 528px;
  min-height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--primary-bg-color);

  transform: translate(-50%, -50%) rotate(0) scale(1) skew(0);
  transition: transform 500ms;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  outline: none;

  background-color: var(--primary-bg-color);

  transition: color 250ms var(--transition-cubic),
    border-color 250ms var(--transition-cubic);
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.modal-close-btn-icon {
  fill: currentColor;
}

.modal-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-field {
  margin-bottom: 10px;

  width: 100%;
}

.modal-form-field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form-label {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-input-wrap {
  position: relative;
  display: block;
}

.modal-form-input {
  padding: 12px 0 12px 42px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;

  transition: border-color 250ms var(--transition-cubic);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:hover + .modal-icon,
.modal-form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;

  fill: var(--title-text-color);

  transform: translateY(-50%);
  transition: fill 250ms var(--transition-cubic);
}

.modal-form-text-area {
  margin: 0;
  padding: 12px 16px 12px 16px;

  width: 100%;
  height: 120px;

  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;

  transition: border-color 250ms var(--transition-cubic);
}

.modal-form-text-area::placeholder {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-text-area:focus {
  border-color: var(--accent-color);
}

.modal-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}

.modal-form-agreement-text {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

.modal-form-agreement-text span {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 7px;

  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.modal-check-icon {
  fill: var(--secondary-text-color);
}

.modal-form-check:focus + .modal-form-agreement-text span {
  border-color: var(--accent-color);
}

.modal-form-check:checked + .modal-form-agreement-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-form-agreement-link {
  font-size: 14px;
  line-height: 1.71;

  color: var(--accent-color);
}

.modal-form-btn {
  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--transition-cubic);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--hero-button-hover);
}
