.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo--white {
  color: var(--secondary-text-color);
}

.contacts__item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.contacts__link {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--transition-cubic);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link--white {
  color: var(--secondary-text-color);
}

.socials-contacts {
  margin-left: 70px;
}

.socials-contacts__label {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.socials__list--wrap {
  display: flex;
  flex-wrap: wrap;
}

.socials__link--grey {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--transition-cubic);
}

.footer-subscription {
  margin-left: auto;
}

.footer-subscription__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.subscribe-form {
  display: flex;
  flex-direction: row;
}

.subscribe-form__input {
  display: flex;
  align-items: center;

  padding: 15px 15px 16px;

  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;

  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--transition-cubic);
  cursor: pointer;
}

.subscribe-form__button:hover,
.subscribe-form__button:focus {
  background-color: var(--hero-button-hover);
}

.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;
}
