.page-header__container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.page-header__logo--black {
  color: var(--title-text-color);
}
